  <footer class='container'>
    <h4>Created by Justin Doak for Project 2 of General Assembly's Web Development Immersive.</h4>
    <div id='footer-nav'>
      <a href="https://twitter.com/justin_doak">Twitter</a>
      <a href="mailto:justin@jhdoak.com">Email</a>
      <a href="https://github.com/jhdoak">Github</a>
    </div>
  </footer>

</body>

<script type="text/javascript" src="/javascripts/jquery.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js" defer></script>
</html>
