<body>
  <header>
    <nav class='container'>
      <div class='nav-left'>
        <a href="/"><h1>Insurance Inventory</h1></a>
      </div>
      <div class='nav-right'>
        <a href="/signup">Signup</a>
        <a href="/login">Login</a>
      </div>
    </nav>
  </header>
