<body>
  <header>
    <nav class='container'>
      <div class='nav-left'>
        <a href="/"><h1>Insurance Inventory</h1></a>
      <% if (currentUser) { %>
        <a class='homes-anchor' href="/">My Homes</a>
      <% } %>
      </div>

      <div class='nav-right'>
        <% if (currentUser) { %>
          <a href="#"><%= currentUser.local.email %></a>
          <a href="/logout">Logout</a>
        <% } else { %>
          <a href="/signup">Signup</a>
          <a href="/login">Login</a>
        <% } %>
      </div>
    </nav>
  </header>
