<% include partials/head %>
<% include partials/header %>
  <% } else { %>
    <div class='inventory'>
      <div class='item'>
        <h2>Item Name</h2>
        <h3><span class='emphasis'>Brand: </span>LG</h3>
        <h3><span class='emphasis'>Model: </span>55-TLS</h3>
        <h3><span class='emphasis'>Serial #: </span>3452389823497</h3>
        <h3><span class='emphasis'>Purchase Date: </span>3/5/15</h3>
        <h3><span class='emphasis'>Estimated Value: </span>$500</h3>
      </div>
      <div class='item'>
        <h2>Item Name</h2>
        <h3><span class='emphasis'>Brand: </span>LG</h3>
        <h3><span class='emphasis'>Model: </span>55-TLS</h3>
        <h3><span class='emphasis'>Serial #: </span>3452389823497</h3>
        <h3><span class='emphasis'>Purchase Date: </span>3/5/15</h3>
        <h3><span class='emphasis'>Estimated Value: </span>$500</h3>
      </div>
      <div class='item'>
        <h2>Item Name</h2>
        <h3><span class='emphasis'>Brand: </span>LG</h3>
        <h3><span class='emphasis'>Model: </span>55-TLS</h3>
        <h3><span class='emphasis'>Serial #: </span>3452389823497</h3>
        <h3><span class='emphasis'>Purchase Date: </span>3/5/15</h3>
        <h3><span class='emphasis'>Estimated Value: </span>$500</h3>
      </div>
      <div class='item'>
        <h2>Item Name</h2>
        <h3><span class='emphasis'>Brand: </span>LG</h3>
        <h3><span class='emphasis'>Model: </span>55-TLS</h3>
        <h3><span class='emphasis'>Serial #: </span>3452389823497</h3>
        <h3><span class='emphasis'>Purchase Date: </span>3/5/15</h3>
        <h3><span class='emphasis'>Estimated Value: </span>$500</h3>
      </div>
      <div class='item'>
        <h2>Item Name</h2>
        <h3><span class='emphasis'>Brand: </span>LG</h3>
        <h3><span class='emphasis'>Model: </span>55-TLS</h3>
        <h3><span class='emphasis'>Serial #: </span>3452389823497</h3>
        <h3><span class='emphasis'>Purchase Date: </span>3/5/15</h3>
        <h3><span class='emphasis'>Estimated Value: </span>$500</h3>
      </div>
    </div>
  <% } %>
<% include partials/footer %>


