/* GENERAL FORMATTING/BACKGROUND */

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

html {
  background: url(../images/bg2.jpeg) no-repeat center center fixed;
  background-size: cover;
}

html, body {
  height: 100%;
  margin: 0;
}

.emphasis {
  font-weight: 700;
}

/* NAV STYLING */

nav {
  background: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: space-between;
}

nav div {
  padding: 10px 10px;
  display: flex;
}

nav div a {
  padding: 0 2px;
  text-decoration: none;
  color: white;
  margin: auto;
}

nav h1 {
  margin: 0;
  font-weight: 400;
}

a:hover {
  text-decoration: underline;
}

.nav-right a {
  padding-left: 15px;
}

.homes-anchor {
  padding-left: 7px;
  margin-left: 3px;
  margin-top: 7px;
  border-left: solid white 1px;
}



/* LANDING DIV STYLING */

.main-landing {
  width: 50%;
  margin: 55px auto 0;
  background: rgba(0, 0, 0, .7);
  border-radius: 5px;
}

.main-landing h1 {
  color: lightgray;
  font-weight: 400;
  margin: 0 5px 5px;
}

.main-landing h2 {
  color: lightgray;
  font-size: 1.25em;
}

.main-landing h2, .item h2 {
  margin: 0 5px;
}

#action {
  margin: 10px 5px;
  font-weight: 400;
}

.main-landing button {
  margin: 0 0 5px 5px;
  font-size: .8em;
}



/* SIGNUP/LOGIN DIV STYLING */

.landing {
  width: 50%;
  margin: 55px auto 0;
  background: rgba(0, 0, 0, .7);
  border-radius: 5px;
  overflow-y: auto;
}

.landing h1 {
  color: lightgray;
  font-weight: 400;
  margin: 5px;
}

.landing form, signup-landing form, .edit-landing form {
  display: flex;
  flex-wrap: wrap;
}

.landing .form-group {
  width: 50%;      /* Change width to 33% if implementing */
  height: 60px;    /* password verification on signup page */
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.landing .image-upload {
  height: initial;
  margin-top: 20px;
}

.landing .image-upload #file-input {
  margin-top: 1px;
}

.landing .image-upload #preview {
  max-height: 150px;
  max-width: 100%;
}

.landing label {
  color: lightgray;
  font-weight: 400;
}

.form-group #status {
  color: lightgray;
  font-weight: 400;
  margin: 0;
}

.landing input {
  height: 22px;
}

.landing button {
  margin: 8px 5px;
  font-size: .8em;
}



/* LOGIN STYLING */

.login-landing .form-group {
  width: 50%;
}



/* HOMES LIST */

.home span, .item span {
  text-decoration: underline;
}

.home h2, .item h2 {
  padding-bottom: 5px;
  color: white;
  font-size: 1.5em;
  display: inline;
}

.home a, .item a {
  text-decoration: none;
}

.home h2:hover, .item h2:hover {
  font-weight: 400;
}

main {
  height: 75%;
}

.main-landing {
  max-height: 100%;
  overflow-y: scroll;
}

.main-landing h3, .item h3 {
  color: white;
  margin: 0 10px 0 5px;
  font-size: 1.17em;
}

.home, .item {
  padding: 5px 0;
  border-bottom: 1px solid white;
}

.homes-list button, .item button {
  margin: 5px 0 5px 5px;
}

.homes-list h2, .item h2 {
  text-transform: capitalize;
}



/* EDIT HOME PAGE */

.new-home h1  {
  text-transform: capitalize;
}



/* DELETE HOME PAGE */

.delete-landing h1 {
  text-transform: capitalize;
}

.warning {
  color: orange;
  margin: 5px 10px 0 5px;
  font-size: .8em;
  border-top: orange 1px solid;
  border-bottom: orange 1px solid;
}

.warning h4 {
  margin: 0;
}

#delete-form {
  display: block;
}

#delete-form div {
  height: auto;
}

.delete-button {
  color: red;
  font-weight:400;
}



/* ITEM LIST STYLING */

#inventory-head {
  text-transform: capitalize;
  color: white;
  margin: 5px 5px 0;
}

.item .emphasis, .home .emphasis {
  font-weight: 400;
}

.new-item-button {
  border-bottom: 1px solid white;
}

.item a h2{
  font-weight: 300;
}

.item a h2:hover {
  font-weight: 400;
}



/* SHOW ITEM STYLING */

#show-item {
  border-bottom: initial;
}

#show-item h2:hover {
  font-weight: 300;
}

#show-item img {
  max-width: 150px;
  max-height: 150px;
  float: right;
  padding-right: 5px;
}

#show-item .item-show-attribute {
  margin: 3px 10px 3px 5px;
}



/* EDIT ITEM STYLING */

.item-edit-landing h1 {
  margin-bottom: 0;
  text-transform: capitalize;
}

.item-edit-landing h3 {
  width: 100%;
  color: white;
}

.item-edit-landing h4, .item-edit-landing h5 {
  color: white;
  margin: 0 10px 0 5px;
}

.item-edit-landing a {
  text-decoration: none;
  color: lightgray;
}

.item-edit-landing a:hover {
  color: white;
}

.item-edit-landing form {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid white;
  margin-top: 2px;
}

.timestamps {
  padding-bottom: 5px;
  width: 100%;
}



/* FOOTER STYLING */

footer {
  position:fixed;
  left:0px; bottom:0px;
  display: flex;
  flex-direction: column;
  height:50px;
  width:100%;
  background: rgba(0, 0, 0, .7);
}

footer h4 {
  width: 100%;
  color: white;
  margin: 2px 0;
  text-align: center;
}

#footer-nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 5px auto;
}

#footer-nav a {
  margin: auto;
  color: lightgray;
  text-decoration: none;
}

#footer-nav a:hover {
  color: white;
  font-weight: 400;
  text-decoration: none;
}
