    <footer>
      <p class="text-center text-muted">Created by Justin Doak for Project 2 of General Assembly's Web Development Immersive</p>
    </footer>
  </body>
  <script type="text/javascript" src="/javascripts/jquery.min.js" defer></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js" defer></script>
</html>
